<form class="aboutme">
    <div class="content" *ngIf="show">
        <div class="backHome">
            <button class="home" routerLink=""><img class="homeLink" src="assets/AlienIcon.png" /> HOME</button>
        </div>
        <div class="info">
            <div class="innerContent">
                <div class="aboutText">
                    <h1 class="about">ABOUT</h1>
                    <p class="aboutparagraph">
                        I am highly skilled and motivated software developer with a strong background in designing,
                        developing, and implementing software solutions. I am dedicated to delivering high-quality and
                        efficient code solutions. With 1 year and 5 months of experience in the industry, I have a
                        proven track record of successfully completing complex projects and collaborating effectively
                        within cross-functional teams.
                    </p>
                    <p class="aboutparagraph">
                        My expertise lies in full-stack development, encompassing front-end and back-end technologies.I
                        am Proficient in programming languages such as Java, Python, JavaScript,Typescript ,Net Core and
                        have recently engaged in learning Flutter.I am adept at developing scalable web applications,
                        APIs, and mobile applications. I have
                        hands-on experience with various frameworks and libraries, including VueJs, Angular, and Spring.
                    </p>
                    <p class="aboutparagraph">
                        I am experienced in the entire software development lifecycle, from requirement gathering and
                        analysis to design, implementation, testing, and deployment. I have a keen eye for detail,
                        ensuring code quality through rigorous testing and debugging processes. Additionally, I am
                        well-versed in version control systems like Git and have a solid understanding of agile
                        development methodologies, enabling me to adapt quickly to changing project requirements and
                        deliver results within deadlines.
                    </p>
                    <p class="aboutparagraph">
                        As a strong problem-solver, I thrive on challenges and enjoy finding innovative solutions to
                        complex technical problems. I possess excellent analytical and communication skills, allowing me
                        to effectively collaborate with stakeholders, understand their needs, and translate them into
                        functional software applications. I am committed to continuous learning and staying updated with
                        the latest industry trends, ensuring the adoption of best practices and the integration of
                        cutting-edge technologies into my work.
                    </p>
                    <h1 class="about">MY SKILLS</h1>
                    <p class="aboutparagraph">
                        <li>
                            C#, .Net Core, ASP.NET, Entity Framework
                        </li>
                        <li>
                            Java, Android Java
                        </li>
                        <li>
                            Angular, VueJS, HTML, CSS
                        </li>
                        <li>
                            Python
                        </li>
                        <li>
                            SQL Server, PostGreSQL
                        </li>
                    </p>
                </div>
                <div class="photo">
                    <div class="picture">
                        <img class="MyPhoto" src="assets/Pam_portfolio_photo-min.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spaceship" *ngIf="!show">
        <img class="spaceshipImg" src="assets/Pam_se_spaceship_Regs.png">
    </div>
</form>