<form class="aboutme">
   <div class="content" *ngIf="show">
    <div class="backHome">
        <button class="home" routerLink=""><img class="homeLink" src="../../../assets/AlienIcon.png"/> HOME</button>
    </div>
    <div class="info">
        <div class="innerContent">
            <div class="aboutText">
                <h1 class = "about">ABOUT</h1>
                <p class="aboutparagraph"> I am a vibrant and passionate software developer currently working as a junior software developer 
                    at Retro Rabbit in Pretoria, South Africa. My love for the software development industry started in high school
                    when I was encouraged to take Information Technology as a subject. On the first day of learining about what this Information
                    Technology subject entailed, I knew that I would fall inlove with every aspect of it. <br/><br/>

                    After falling inlove with Information Technology and the art of writing code, I decided to persue a Bachelors degree in 
                    Information Technology. During this time I gained a lot of knowledge around writing code, impelementing computer security,
                    managing software projects and creating and maintaing databases using various different technologies. After completing my Bachelors degree in 
                    Information Technology, it still felt like I didn't know enough, or rather, didn't know everything that I wanted to know yet.
                    I wanted to know more, wanted to understand  better, like there was still something missing in my life, something more I needed to know
                    before I could move on. So I decided to further educate myself by enrolling for a Bachelors of Honnours degree in Computer Science and information systems.
                    During this degree I broadened my knowledge on several different topics such as computer security, database modelling and development, project management and
                    data warehousing. I completed my Honnours degree in 2021 with distiction, and even though I am satisfied with my accomplishments over the years and decided that
                    I could finally move on from studying to achieve something more, I still aspire to someday pursue and complete a Master's degree in Information Technology
                    or Computer science.<br/><br/> 
                    
                    On a more personal note, I thrive in environments where I can express my creativity and freely share my insights. I am a very motivated worker and can make almost
                    any situation work for me,however I tend to be especially motivated when the work I am doing has meaning or can help improve someone else's circumstances.
                </p>
                    <h1 class = "about">MY SKILLS</h1>
                    <p class="aboutparagraph">
                        <li>
                            C#
                        </li>
                        <li>
                            .Net Core
                        </li>
                        <li>
                            ASP.NET
                        </li>
                        <li>
                            Java
                        </li>
                        <li>
                            Angular
                        </li>
                        <li>
                            VueJS
                        </li>
                        <li>
                            Python
                        </li>
                        <li>
                            HTML/CSS
                        </li>
                        <li>
                            SQL Server, PostGreSQL
                        </li>
                        <li>
                            Android Java
                        </li>
                        <li>
                            Entity Framework
                        </li>
                        <li>
                            MongoDB
                        </li>
                    </p>
            </div>
            <div class="photo">
             <div class="picture">
                 <img class = "MyPhoto" src="../../../assets/Pams_portfolio_photo.png">
             </div>
            </div>
         </div>
    </div>
   </div>
   <div class="spaceship" *ngIf="!show">
        <img class="spaceshipImg" src="../../../assets/Pam_se_spaceship_Regs.png">
   </div>
</form>