.aboutme{
    display: flex;
    width: 100vw;
}

.content{
    width: 100vw;
    position: relative;
}

.info{
    display: flex;
    animation: fadeIn 5s;
    animation-fill-mode: backwards;
    width: 100vw;
    height: 100vh;
    margin-left: 60px;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
     }
    100% { 
        opacity: 1; 
    }
  }

.home{
    background-color: var(--background-color);
    border: none;
    color:  var(--primary-white);
    font-size: 24px;
    font-family: 'Bangers', cursive;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    width: fit-content;
}

.homeLink{
    width: 20px;
    height: 20px;
}

.backHome{
    display: flex;
    position: relative;
    font-size: 24px;
    width: fit-content;
    animation: fadeIn 0.5s;
    animation-fill-mode: backwards;
    margin-bottom: 40px;
}

.innerContent{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.home:hover{
    font-size: 26px;
    margin-top: 37px;
    margin-left: 37px;
    cursor: pointer;
}


.spaceshipImg{
    width: 677px;
    height: 400px;
}

.spaceship{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    left: -2%;
    animation: runaccross;
    animation-duration: 4s;
    justify-content: center;
    margin-top: 15%;
}
  
  @keyframes runaccross {
    from {left: 80%;}
    to {left: -120%;}
  }

.aboutText{
    display: flex;
    position: relative;
    flex-direction: column;
    float: left;
    width: 60vw;
    overflow-y: auto;
    max-height: 78%;
    margin-bottom: 40px;
    padding-right: 40px;
}

.aboutText::-webkit-scrollbar{
    width: 15px;
}

.aboutText::-webkit-scrollbar-track{
    width: 15px;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: -0.5px -0.5px 1px rgba(108, 105, 255, 0.25), inset 2px 4px 12px rgba(0, 0, 0, 0.7), inset -2px -4px 8px #6C69FF;
}

.aboutText::-webkit-scrollbar-thumb{
    width: 15px;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25), inset 0px -2px 6px #0F0E3E, inset -0.5px -2px 8px #0F0E3E, inset 2px 2px 4px #0F0E3E, inset 2px -4px 10px rgba(108, 105, 255, 0.8), inset 3px 6px 10px #6C69FF;
}
.photo{
    display: flex;
    justify-content: center;
    max-height: 32.5%;
    width: 40vw;
    margin-right: 60px;
}

button{
    width: 100%;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 591px;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.8), inset -4px -4px 15px #4644BF;
}

.MyPhoto{
    display: block;
    margin: auto;
    margin-top:auto;
    margin-bottom:auto;
    width: 285px;
    height: 536px;
}

.about{
    font-size: 32px;
    font-family: 'Bangers', cursive;
    text-align: left;
    margin-left: 40px;
    color: var(--secondary);
}

.aboutparagraph{
    font-size: 16px;
    color: var(--primary-white);
    line-height: 25px;
    text-align:justify;
    margin-left: 40px;
    font-family: 'Calibri';
    max-width: 100%;
}
