<form class="mywork">
  <div class="content" *ngIf="show">
    <div class="backHome">
      <button class="home" routerLink="">
        <img
          class="homeLink"
          src="assets/AlienIcon.png"
          alt="Error loading image"
        />
        HOME
      </button>
    </div>
    <div class="headings">
      <h1 class="heading">MY WORK</h1>
    </div>
    <div class="info">
      
      <div class="projectContainer">
        <div class="projectImage">
          <img
            src="assets/Smile_foundation_icon.png"
            alt="Error loading image"
            class="projectDisplayImage"
          />
        </div>
        <div class="projectDescription">
          <h1 class="projectHeading">The Smile Foundation Project</h1>
          <p class="projectParagraph">
            This was a personal project that I worked on. The problem I
            identified and tried to solve was that there was no central place
            that people could use to make dontaions to more than one charity at
            a time without having to continoously browse to different websites.
            My responsibilities for this project included designing and creating
            the frontend for the project, creating a database for the project
            and integrating the frontend and bakend with eachother so that they
            could communicate. The technology used here was .NetCore, SQL Server
            and VueJS.
          </p>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="projectContainer">
        <div class="projectImage">
          <img
            src="assets/Admin_service_icon.png"
            alt="Error loading image"
            class="projectDisplayImage"
          />
        </div>
        <div class="projectDescription">
          <h1 class="projectHeading">Retro Admin Services</h1>
          <p class="projectParagraph">
            This was a group project I worked on when I first started out in my
            carreer. This was a admin service web project that allowed the
            company I work for to make it easier for their employees to make
            claims, RSVP for events and book a place if they wanted to go work
            at the office. In this project I had a lot of resposibilities and
            worked on both the frontend and the backend. The technologies that I
            worked with on this project include Angular, PostgreSQL and .Net
            core
          </p>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="projectContainer">
        <div class="projectImage">
          <img
            src="assets/Hippo_Icon.png"
            alt="Error loading image"
            class="projectDisplayImage"
          />
        </div>
        <div class="projectDescription">
          <h1 class="projectHeading">Advisory System Rewrite</h1>
          <p class="projectParagraph">
            The hippo advisory system is a platform used to assist and advise
            customers on the best health insurance package available for them.
            The goal of this project was to rewrite the system that currently
            exists in order to make it more efficient, accessible and user
            friendly. My role in this project was to perform updates and queries
            on the database and to create endpoints that can be used by the
            frontend team to access the data they need from the database. I was
            also responsible for updating the queues associated with each API
            call and to occasionally store certain information in a cache.
            Technologies used for this project include .net core, SQL Server,
            RabbitMQ, Redis, Rancher, Magic Draw, Azure Functions, Kong, Docker,
            Xunit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="spaceship" *ngIf="!show">
    <img
      class="spaceshipImg"
      src="assets/Pam_se_spaceship_Regs.png"
      alt="Error loading image"
    />
  </div>
</form>
