.mywork {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 0.5s;
  animation-fill-mode: backwards;
}

.home {
  background-color: var(--background-color);
  border: none;
  color: var(--primary-white);
  font-size: 24px;
  font-family: "Bangers", cursive;
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
  width: fit-content;
}

.homeLink {
  width: 20px;
  height: 20px;
}

.backHome {
  display: flex;
  position: relative;
  font-size: 24px;
  width: fit-content;
  margin-bottom: 40px;
}

.home:hover {
  cursor: pointer;
}

.spaceshipImg {
  width: 677px;
  height: 400px;
}

.spaceship {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  left: -2%;
  animation: runaccross;
  animation-duration: 4s;
  justify-content: center;
  margin-top: 15%;
}

@keyframes runaccross {
  from {
    left: 80%;
  }

  to {
    left: -120%;
  }
}

.heading {
  display: flex;
  position: relative;
  float: left;
  font-size: 64px;
  width: 1200px;
  font-family: "Bangers", cursive;
  text-align: left;
  color: var(--primary-white);
}

.headings {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 415px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: inset 6px 6px 20px rgba(0, 0, 0, 0.9),
    inset -4px -4px 18px #6c69ff;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 415px;
  margin-bottom: 80px;
  animation: fadeIn 5s;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.projectImage {
  width: 30%;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.projectDescription {
  width: 70%;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}

.projectHeading {
  color: var(--secondary);
  font-family: "Bangers", cursive;
  font-size: 36px;
}

.projectParagraph {
  color: var(--primary-white);
  text-align: justify;
  font-size: 20px;
  font-family: Calibri (Body);
  margin-right: 50px;
  width: 100%;
}

.projectDisplayImage {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}



@media only screen and (min-width: 821px) and (max-width: 1021px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 800px;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .heading {
    width: 800px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 16px;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 250px;
    width: 250px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin: 20px;
    width: auto;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1260px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .heading {
    width: 900px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 250px;
    width: 250px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin: 20px;
    width: auto;
  }
}

@media only screen and (min-width: 1022px) and (max-width: 1099px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .heading {
    width: 900px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 14px;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 250px;
    width: 250px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin: 20px;
    width: auto;
  }
}

@media only screen and (min-width: 319px) and (max-width: 380px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .heading {
    width: 300px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 250px;
    width: 250px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin-left: 0;
    margin-top: 30px;
    width: auto;
  }

}

@media only screen and (min-width: 381px) and (max-width: 480px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .heading {
    width: 350px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 250px;
    width: 250px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin-left: 0;
    margin-top: 30px;
    width: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 678px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 600px;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .heading {
    width: 600px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 16px;
    text-align: left;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 150px;
    width: 150px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    width: auto;
    margin: 20px;
  }
}

@media only screen and (min-width: 679px) and (max-width: 821px) {

  .spaceship {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .spaceshipImg {
    width: 377px;
    height: 200px;
  }

  .info {
    margin-bottom: 50px;
    height: auto;
  }

  .projectContainer {
    width: 700px;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .heading {
    width: 700px;
  }

  .projectParagraph {
    height: fit-content;
    font-size: 16px;
    text-align: left;
  }

  .projectHeading {
    font-size: 20px;
  }

  .projectDisplayImage {
    height: 200px;
    width: 200px;
  }

  .projectDescription {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projectImage {
    margin: 20px;
    width: auto;
  }
}