.contactMe{
    display: flex;
    flex: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content{
    width: 100vw;
    height: 100vh;
}

.innerContent{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.illustration{
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    height: 100vh;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 60%;
    height: 100vh;
}

.alienImage{
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
}

.homeAlien{
    display: flex;
    height: 448px;
    width: 300px;
}

.heading{
    color: var(--primary-white);
    font-size: 32px;
    font-family: 'Bangers', cursive;
    text-align: left;
}

.home{
    background-color: var(--background-color);
    border: none;
    color:  var(--primary-white);
    font-size: 24px;
    font-family: 'Bangers', cursive;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    width: fit-content;
}

.homeLink{
    width: 20px;
    height: 20px;
}

.backHome{
    display: flex;
    position: relative;
    font-size: 24px;
    width: fit-content;
    margin-bottom: 60px;
}

.home:hover{
  font-size: 26px;
  margin-top: 37px;
  margin-left: 37px;
  cursor: pointer;
}

.info{
    display: flex;
    float: left;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.email{
    font-family: Calibri;
    font-size: 20px;
    color: var(--primary-white);

}

.email:hover{
    cursor: pointer;
}

.linkdn:hover{
    cursor: pointer;
}

.linkdn{
    font-family: Calibri;
    font-size: 20px;
    color: var(--primary-white);
}

.Links{ 
    margin: auto;
    margin-top: 0px;
}

.linkText{
    color: var(--primary-white);
    font-family: Calibri;
    font-size: 20px;
}
.image{
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    width: 100%; 
}
.messageFrom{
    outline: none;
    background-color: var(--background-color);
    color: var(--primary-white);
    border: none;
    border-radius: 20px;
    resize: none;
    padding-left: 30px;
    padding-top: 30px;
    overflow: hidden;
    width: 713px;
    height: 320px;
    box-shadow: inset 6px 6px 20px rgba(0, 0, 0, 0.9), inset -4px -4px 18px #6C69FF;
}

.from{
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--background-color);
    color: var(--primary-white);
    border: none;
    border-radius: 20px;
    resize: none;
    padding-left: 30px;
    padding-top: 30px;
    overflow: hidden;
    width: 713px;
    height: 40px;
    box-shadow: inset 6px 6px 20px rgba(0, 0, 0, 0.9), inset -4px -4px 18px #6C69FF;
}

i{
    margin-right: 10px;
}

a{
    text-decoration: white;
}

.send{
    display: flex;
    align-self: flex-end;
}