<div class="contactMe">
    <div class="content">
        <div class="backHome">
            <button class="home" routerLink=""><img class="homeLink" src="assets/AlienIcon.png"/> HOME</button>
        </div>
        <div class="info">
            <div class="innerContent">
                <div class="illustration">
                    <div class="image">
                        <img class="homeAlien" src="assets/ContactAlien.png">
                    </div>
                    <div class="Links">
                        <p class="email">
                            pamela.lotriet@gmail.com
                        </p>
                        <p class="linkdn">
                            Pamela Lotriet
                        </p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="content">
                    <h1 class="heading">CONTACT ME</h1>
                    <div class="emailInfo">
                            <textarea onfocus="this.value=''" class="from">Your Email Address</textarea>
                            <textarea onfocus="this.value=''"class="messageFrom">Type your message...</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>